body {
  font-size: 20px;
  font-family: "Arial", "Meiryo", sans-serif;
  text-align:center;
}

h1 {
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-family: "Josefin Sans", sans-serif;
}

#basic > p {
  font-weight: bold;
}
.text-pink {
  color: rgb(255, 192, 203);
}

.text-skyblue {
  color: skyblue;
}